body {
    margin: 0  ;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #141414;
    color: white;
}

/* Navbar */
.navbar {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    position: sticky; /**/
    top: 0;
    z-index: 10;
}

.logo {
    font-size: 1.8rem;
    font-weight: bold;
    color: red;
    margin-right: 30px;
}

.menu a {
    color: white;
    margin-right: 15px;
    text-decoration: none;
}

.menu a:hover {
    text-decoration: underline;
}

/* Banner */
.banner {
    height: 400px;
    background: 
        radial-gradient(circle at 20% 50%, rgba(139, 0, 0, 0.8) 0%, transparent 50%),
        radial-gradient(circle at 80% 20%, rgba(75, 0, 130, 0.6) 0%, transparent 50%),
        radial-gradient(circle at 40% 80%,
        rgba(139, 69, 19, 0.4) 0%, transparent 50%),
        linear-gradient(135deg, #0f0f0f 0%, #1a0000 50%, #000000 100%),
        url('https://t.ctcdn.com.br/2BczVuQGfEc5BlDJ4aZt7J3ITjU=/1200x675/smart/i493438.jpeg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
    position: relative;
    border-bottom: 3px solid #e50914;

}

.banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://t.ctcdn.com.br/2BczVuQGfEc5BlDJ4aZt7J3ITjU=/1200x675/smart/i493438.jpeg');
    background-size: cover;
    background-position: center top 30%;
    filter: brightness(0.4) contrast(1.1);
    z-index: 0;
}

/* Certifique-se de que o conteúdo da banner fique acima da imagem */
.banner * {
    position: relative;
    z-index: 1;
}

.banner h1 {
    color: #e10c17;
    font-size: 3rem;
    margin-bottom: 20px;
}

.banner button {
    padding: 10px 20px;
    margin-right: 10px;
    font-size: 1rem;
    border: none;
    cursor: pointer;
}

.btn-play {
    background-color: white;
    color: black;
}

.btn-info {
    background-color: rgba(109, 109, 110, 0.7);
    color: white;
}

.btn-play:hover {
    background-color: #ccc;
}

.btn-info:hover {
    background-color: rgba(109, 109, 110, 0.5);
}

/* Seção de filmes */
.filmes-row {
    padding: 20px;
}

.filmes-row h2 {
    margin-bottom: 10px;
}

.filmes {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.filmes img {
    width: 200px;
    border-radius: 5px;
    transition: transform 0.3s;
}

.filmes img {
    width: 200px ;
    height: 300px;
    border-radius: 5px;
    transition: transform 0.3s;

}

.filmes img:hover {
    transform: scale(1.1);
}
